<div class="p-8 mt-8 flex justify-center">
    <form class="shadow border w-4/12 p-4">
        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>First Name </mat-label>
                <input matInput name="firstName" type="text" [(ngModel)]="editStudent.firstName">
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Last Name </mat-label>
                <input matInput name="lastName" type="text" [(ngModel)]="editStudent.lastName">
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Middle Name </mat-label>
                <input matInput name="middleName" type="text" [(ngModel)]="editStudent.middleName">
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Choose Grade</mat-label>
                <mat-select [(ngModel)]="cID" [(value)]="selected" name="Grade">
                    @for(c of gradeObject; track c)
                    {
                    <mat-option [value]="c.id">{{c.gradeNum}}</mat-option>
                    }
                </mat-select>

            </mat-form-field>
        </div>
        <div class="flex justify-around">
            <button mat-raised-button  (click)="toHome()">Cancel</button>
            <button mat-raised-button color="primary" (click)="edit()">Edit</button>
        </div>
    </form>
</div>


